<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog"aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="register" >
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Username:</label>
              <input type="text" class="form-control input input-sm" id="reg_un" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Password:</label>
              <input type="password" class="form-control input input-sm" id="reg_pw" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Email:</label>
              <input type="email" class="form-control input input-sm" id="reg_email" required>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <input type="submit" value="Register" class="btn btn-primary">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
