body{
  padding-top:25px;
  background-color:#E0E7EE !important;
}

.font{
  color:#B0AC47;
  font-family: "Times New Roman", Georgia, Serif;
}

.font-p{
  color:#ABA518;
  font-family: "Times New Roman", Georgia, Serif;
  font-style:italic;
  font-size: 1.2em;
  margin:0;
}

hr{
  background-color:#CDC964;
}
.front-img{
  width:30%;
}

.copyright{
  color:#B0AC47;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1.0em;
  margin:0;
}
.cast{
  width:100%;
}

.bg-custom{
  background-color:#E0E7EE !important;
}

.bg-custom2{
  background-color:#CDC751 !important;
}

.body-text{
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1.5em;
}

/*
	jquery.paginate.css
	Version 0.1.1
*/

.paginate-pagination ul {

	margin: 20px 0;
	padding: 0;
	list-style: none;

}

.paginate-pagination ul:after {

	content: ' ';
	display: table;
	clear: both;

}

.paginate-pagination ul > li {

	float: left;
	margin-right: 3px;

}

.paginate-pagination ul > li > a.page {

	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #ddd;
	background: white;
	text-decoration: none;
	cursor: pointer;

}

.paginate-pagination ul > li > a.page:hover { opacity: 0.7; }
.paginate-pagination ul > li > a.page.active { opacity: 0.7; cursor: default; }

.paginate-pagination ul > li > a.page-next.deactive,
.paginate-pagination ul > li > a.page-prev.deactive { opacity: 0.7; cursor: default; }
