<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="core/css/bootstrap.min.css" >
  <link rel="stylesheet" href="core/css/animate.css" >
  <link rel="stylesheet" href="core/css/custom.css" >
  <script src="core/js/jquery.min.js"></script>
  <script src="core/js/popper.min.js"></script>
  <script src="core/js/Pagination.js"></script>
  <script src="core/js/animation.js"></script>
  <script src="core/js/bootstrap.min.js"></script>
  <script src="core/js/bootstrap-notify.min.js"></script>
  <script src="core/plugin/ckeditor.js"></script>
  <link rel="icon" type="img/kingsman.ico" href="img/kingsman.ico">
  <title>Kingsman</title>
</head>
